<div class="jumbotron jumbotron-fluid jumb-style p-2">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to 8-bit Burger</h1>
    <p class="lead text-center">Go to the search bar below and create your burger!</p>
    <img src="https://thumbs.gfycat.com/EcstaticUnderstatedIndianringneckparakeet.webp" alt="this slowpoke moves"  width=150 class="center"/>

  </div>
</div>

<div class="container">

  <div class="col text-center">
    <h2 class="intro-h">Add a burger</h2>
    <form id="create-form">
  </div>

  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
          <div class="form-group">
            {{!-- <label for="slee">Cravings?</label><br> --}}
          </div>

        </div>
    </div>
    <div class="col">

      <div class="col">
        <input type="radio" name="eaten" value="1" id="eaten" checked> Eaten!
        <input type="radio" name="eaten" value="0" id="hungry"> Hungry
        <button class="button"type="submit">Add Burger</button>

        </form>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Burgers Waitlist!</h2>

        <ul class="waitstyle">
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block eaten=true}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
      <div class="col-6">
        <h2>Burgers Eaten!</h2>

        <ul class="eatenstyle">
          {{#each burgers}}
          {{#if eaten}}
          {{> burgers/burger-block eaten=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <br><br>